# Build and IDE files
target/
bin/
out/
*.class

jenkins.war

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Maven
.mvn/

# Reports
allure-results/
allure-report/
test-output/

# Temp files
*.tmp
*.temp
